<!-- Page Header -->
<div class="page-header bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- Page Header Wrapper -->
                <div class="page-header-wrapper">
                    <!-- Title & Sub Title -->
                    <h3 class="title">Carrinho</h3>
                    <h6 class="sub-title">Aqui esta a lista dos seus produtos</h6>
                    <ol class="breadcrumb">
                        <li><a ui-sref="home">Inicio</a></li>
                        <li class="active">Carrinho</li>
                    </ol><!-- Breadcrumb -->
                </div><!-- Page Header Wrapper -->
            </div><!-- Coloumn -->
        </div><!-- Row -->
    </div><!-- Container -->
</div><!-- Page Header -->

<!-- Page Main -->
<div role="main" class="main">
    <div class="page-default bg-grey typo-dark">
        <!-- Container -->
        <div class="container">

            <div class="row shop-forms">
                <div class="col-sm-12">
                    <div class="content-box shadow bg-lgrey">
                        <form method="post" action="">
                            <table cellspacing="0" class="shop_table cart">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">&nbsp;

                                        </th>
                                        <th class="product-name">
                                            Produtos
                                        </th>
                                        <th class="product-price">
                                            Preço
                                        </th>
                                        <th class="product-quantity">
                                            Quantidade
                                        </th>
                                        <th class="product-subtotal">
                                            Total
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cart_table_item" ng-repeat="book in books">
                                        <td class="product-thumbnail">
                                            <a href="shop-product-sidebar.html">
                                                <img width="100" height="100" alt="" class="img-responsive" src="{{book.image}}">
                                            </a>
                                        </td>
                                        <td class="product-name">
                                            <a href="javascript:void(0);">{{book.title}}</a>
                                        </td>
                                        <td class="product-price">
                                            <span class="amount">R$ {{book.price}}</span>
                                        </td>
                                        <td class="product-quantity">
                                            {{book.qtd}}
                                        </td>
                                        <td class="product-subtotal">
                                            <span class="amount" ng-value="">R$ {{ totalProduct($index) }}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <!-- Shop Form -->
                <div class="col-sm-12 margin-top-50">
                    <div class="content-box shadow bg-lgrey">
                        <h4>Calcular Frete</h4>
                        <form action="" id="" method="post">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label>Cidade</label>
                                        <input type="text" value="" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Codigo Postal</label>
                                        <input type="text" value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="button" value="Atualizar Frete" class="btn pull-right" data-loading-text="Carregando...">
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- Shop Form -->

                <!-- Shop Form -->
                <div class="col-sm-12 margin-top-50">
                    <div class="content-box shadow bg-lgrey">
                        <h4>Total</h4>
                        <table cellspacing="0" class="cart-totals">
                            <tbody>
                            <tr class="cart-subtotal">
                                <th>
                                    <strong>Subtotal</strong>
                                </th>
                                <td>
                                    <strong><span class="amount">R$ {{ sumTotalCart() }}</span></strong>
                                </td>
                            </tr>
                            <tr class="shipping">
                                <th>
                                    Frete
                                </th>
                                <td>
                                    Frete Grátis
                                </td>
                            </tr>
                            <tr class="total">
                                <th>
                                    <strong>Total do Pedido</strong>
                                </th>
                                <td>
                                    <strong><span class="amount">R$ {{ sumTotalCart() }}</span></strong>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" value="Finalizar Pedido" class="btn pull-right" ng-click="finishCart()" data-loading-text="Carregando...">
                            </div>
                        </div>
                    </div>
                </div><!-- Shop Form -->
            </div><!-- Row -->

        </div><!-- Container -->
    </div><!-- Page Default -->
</div><!-- Page Main -->
