<!-- Page Header -->
<div class="page-header bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- Page Header Wrapper -->
                <div class="page-header-wrapper">
                    <!-- Title & Sub Title -->
                    <h3 class="title">Contato</h3>
                    <h6 class="sub-title">All you want know</h6>
                    <ol class="breadcrumb">
                        <li><a href="templates/index.html">Inicio</a></li>
                        <li class="active">Contato</li>
                    </ol><!-- Breadcrumb -->
                </div><!-- Page Header Wrapper -->
            </div><!-- Coloumn -->
        </div><!-- Row -->
    </div><!-- Container -->
</div><!-- Page Header -->

<!-- Page Main -->
<div role="main" class="main">
    <!-- Section -->
    <section class="bg-lgrey">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-4">
                    <div class="contact-info">
                        <div class="info-icon bg-dark">
                            <i class="uni-map2"></i>
                        </div>
                        <h5 class="title">Escritorio</h5>
                        <p>Rua Uruguai, 5007,</p>
                        <p>Itajaí, Santa Catarina</p>
                    </div><!-- Contact Info -->

                    <div class="contact-info margin-top-30">
                        <div class="info-icon bg-dark">
                            <i class="uni-mail"></i>
                        </div>
                        <h5 class="title">Contato</h5>
                        <p><a href="mailto:contact@finalboss.com">contact@finalboss.com</a></p>
                        <p><a href="tel:(47) 9696-9696">(47) 9696-9696</a></p>
                    </div><!-- Contact Info -->

                </div><!-- Column -->

                <div class="col-sm-6">
                    <div class="contact-info">
                        <div class="info-icon bg-dark">
                            <i class="uni-fountain-pen"></i>
                        </div>
                        <form method="post" >
                            <!-- Field 1 -->
                            <div class="input-text form-group">
                                <input type="text" name="contact_name" class="input-name form-control" placeholder="Nome Completo" />
                            </div>
                            <!-- Field 2 -->
                            <div class="input-email form-group">
                                <input type="email" name="contact_email" class="input-email form-control" placeholder="Email"/>
                            </div>
                            <!-- Field 4 -->
                            <div class="textarea-message form-group">
                                <textarea name="contact_message" class="textarea-message form-control" placeholder="Mensagem" rows="5" ></textarea>
                            </div>
                            <!-- Button -->
                            <button class="btn" type="submit">Enviar</button>
                        </form>
                    </div><!-- Contact Info -->
                </div><!-- Column -->
            </div><!-- Row -->
        </div><!-- Container -->
    </section><!-- Section -->

    <!-- Map -->
    <div class="full-screen map-canvas"
         style=""
         data-zoom="12"
         data-lat="-35.2835"
         data-lng="149.128"
         data-title="Autin"
         data-type="roadmap"
         data-hue="#2196F3"
         data-content="Universh&lt;br&gt; Contact: +012 (345) 6789&lt;br&gt; info@universh.com">
    </div><!-- Map -->
</div><!-- Page Main -->