<!-- Page Header -->
<div class="page-header bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- Page Header Wrapper -->
                <div class="page-header-wrapper">
                    <!-- Title & Sub Title -->
                    <h3 class="title">Detalhes do Produto</h3>
                    <h6 class="sub-title">Tudo o que você quer saber</h6>
                    <ol class="breadcrumb">
                        <li><a ui-sref="home">Inicio</a></li>
                        <li class="active">Detalhes</li>
                    </ol><!-- Breadcrumb -->
                </div><!-- Page Header Wrapper -->
            </div><!-- Coloumn -->
        </div><!-- Row -->
    </div><!-- Container -->
</div><!-- Page Header -->

<!-- Page Main -->
<div role="main" class="main">
    <div class="page-default bg-grey shop-single">
        <!-- Container -->
        <div class="container">
            <div class="row">
                <!-- Member Image Column -->
                <div class="col-md-5">
                    <img class="img-responsive" src="{{book.image}}" alt="..." width="600" height="500">
                </div><!-- Coloumn -->
                <!-- Coloumn -->
                <div class="col-md-7">
                    <div class="shop-detail-wrap">
                        <h4 class="product-name">{{book.title}}</h4>
                        <a class="author" href="teacher-single-left.html"><span class="">Por {{book.author}}</span></a>
                        <ul class="review-box">
                            <li class="rating"><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </li>
                            <li class="readers">{{book.votes}} Votos</li>
                        </ul>
                        <div class="share">
                            <h5>Share : </h5>
                            <ul class="social-icons color round">
                                <li class="facebook"><a title="Facebook" target="_blank" href="http://www.facebook.com/">Facebook</a></li>
                                <li class="twitter"><a title="Twitter" target="_blank" href="http://www.twitter.com/">Twitter</a></li>
                                <li class="linkedin"><a title="Linkedin" target="_blank" href="http://www.linkedin.com/">Linkedin</a></li>
                            </ul><!-- Blog Social Share -->
                        </div>
                        <div class="likes">
                            <h5>Preço: <i>{{book.price}}</i></h5><br>
                        </div>
                        <p class="margin-top-30">{{book.informations}}</p>
                        <input type="number" ng-model="book.qtd" minlength="1" maxlength="10" style="width:40px; height: 40px;">&nbsp;
                        <button class="btn" ng-click="addToCart(book)">Comprar</button>
                    </div><!-- Member Detail Wrapper -->
                </div><!-- Member Detail Column -->
            </div><!-- Row -->

            <!-- Product Features -->
            <div class="row margin-top-60">
                <div class="col-sm-12">
                    <!-- Tab -->
                    <div class="tab">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="javascript:void(0);" aria-controls="home" role="tab" data-toggle="tab">Descrição</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                <p>{{book.description}}</p>
                            </div>
                        </div><!-- Tab Content -->
                    </div><!-- Tab -->


                    <!-- Related Products -->
                    <div class="margin-top-50">
                        <h4 class="title-simple">Você também precisa ler:</h4>

                        <div class="row">

                            <div class="col-xs-3" ng-repeat="seeTo in books">
                                <div class="item">
                                    <!-- Related Wrapper -->
                                    <div class="related-wrap">
                                        <!-- Related Image Wrapper -->
                                        <div class="img-wrap">
                                            <img src="{{seeTo.image}}" height="500" width="500" alt="Related Product" class="img-responsive" style="height: 350px;">
                                        </div>
                                        <!-- Related Content Wrapper -->
                                        <div class="related-content">
                                            <a href="javascript:void(0);" title="Ler Mais">+</a><span>{{seeTo.category}}</span>
                                            <h5 class="title" style="font-size: 18px;">{{seeTo.title}}</h5>
                                        </div><!-- Related Content Wrapper -->
                                    </div><!-- Related Wrapper -->
                                </div><!-- Item -->
                            </div>

                        </div><!-- Product Features -->

                    </div><!-- Row -->

                </div>
            </div>
        </div><!-- Container -->
    </div>
</div>