<!-- Page Header -->
<div class="page-header bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- Page Header Wrapper -->
                <div class="page-header-wrapper">
                    <!-- Title & Sub Title -->
                    <h3 class="title">Eventos</h3>
                    <h6 class="sub-title">Eventos culturais por todo o Brasil</h6>
                    <ol class="breadcrumb">
                        <li><a href="templates/index.html">Inicio</a></li>
                        <li class="active">Eventos</li>
                    </ol><!-- Breadcrumb -->
                </div><!-- Page Header Wrapper -->
            </div><!-- Coloumn -->
        </div><!-- Row -->
    </div><!-- Container -->
</div><!-- Page Header -->

<!-- Page Main -->
<div role="main" class="main">
    <div class="page-default bg-grey typo-dark">
        <!-- Container -->
        <div class="container">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-md-3">
                    <!-- aside -->
                    <aside class="sidebar">
                        <!-- Widget -->
                        <div class="widget no-box">
                            <h5 class="widget-title">Pesquisar<span></span></h5>
                            <div class="search">
                                <form id="searchForm" action="page-search-results.html" method="get">
                                    <div class="input-group">
                                        <input type="text" class="form-control search" name="q" id="q" placeholder="Pesquisar..." required>
                                        <span class="input-group-btn">
											<button class="btn" type="submit"><i class="fa fa-search"></i></button>
										</span>
                                    </div>
                                </form>
                            </div>
                        </div><!-- Widget -->

                        <!-- Widget -->
                        <div class="widget">
                            <h5 class="widget-title">Próximo Evento em<span></span></h5>
                            <ul class="event-widget">
                                <li>
                                    <div id="daycounter-1" class="daycounter clearfix" data-counter="down" data-year="2016" data-month="12" data-date="02"></div>
                                    <h5><a href="event-single-left.html">Evento Bla Bla Bla</a></h5>
                                    <p><i class="fa fa-calendar-o"></i>Julho 10, 2017</p>
                                    <p><i class="fa fa-map-marker"></i>Itajaí, Santa Catarina</p>
                                </li>
                            </ul>
                        </div>

                        <!-- Widget -->
                        <div class="widget">
                            <h5 class="widget-title">Ultimos Eventos<span></span></h5>
                            <ul class="thumbnail-widget">
                                <li>
                                    <div class="thumb-wrap">
                                        <img width="60" height="60" alt="Thumb" class="img-responsive" src="images/default/event-thumb-01.jpg">
                                    </div>
                                    <div class="thumb-content"><a href="event-left.html">3º Bla Bla Bla</a><span>Junho 3, 2017</span></div>
                                </li>
                                <li>
                                    <div class="thumb-wrap">
                                        <img width="60" height="60" alt="Thumb" class="img-responsive" src="images/default/event-thumb-02.jpg">
                                    </div>
                                    <div class="thumb-content"><a href="event-left.html">2º Bla Bla Bla</a><span>Abril 15, 2017</span></div>
                                </li>
                                <li>
                                    <div class="thumb-wrap">
                                        <img width="60" height="60" alt="Thumb" class="img-responsive" src="images/default/event-thumb-03.jpg">
                                    </div>
                                    <div class="thumb-content"><a href="event-left.html">1º Bla Bla Bla</a><span>Maio 1, 2017</span></div>
                                </li>
                            </ul><!-- Thumbnail Widget -->
                        </div><!-- Widget -->

                        <!-- Widget -->
                        <div class="widget">
                            <h5 class="widget-title">Tags<span></span></h5>
                            <ul class="tag-widget">
                                <li><a href="#">Estudantes</a></li>
                                <li><a href="#">Cursos</a></li>
                                <li><a href="#">Bolsa de Estudo</a></li>
                                <li><a href="#">Conferencia</a></li>
                                <li><a href="#">Ultimos Eventos</a></li>
                                <li><a href="#">Novidades</a></li>
                                <li><a href="#">Galeria</a></li>
                                <li><a href="#">Revistas</a></li>
                            </ul><!-- Tag Widget -->
                        </div><!-- Widget -->
                    </aside><!-- aside -->
                </div><!-- Column -->

                <!-- Page Content -->
                <div class="col-md-9">
                    <!-- Event row  -->
                    <div class="row">
                        <!-- Event Column -->
                        <div class="col-sm-6">
                            <!-- Event Wrapper -->
                            <div class="event-wrap">
                                <div class="event-img-wrap">
                                    <img alt="Event" class="img-responsive" src="images/events/event-01.jpg" width="600" height="220">
                                </div><!-- Event Image Wrapper -->
                                <!-- Event Detail Wrapper -->
                                <div class="event-details">
                                    <h4><a href="event-single-left.html">Celebração Bla Bla Bla</a></h4>
                                    <ul class="events-meta">
                                        <li><i class="fa fa-calendar-o"></i> Sexta Jul 10 2017</li>
                                        <li><i class="fa fa-map-marker"></i> Museu da Prefeitura de Itajaí</li>
                                    </ul>
                                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste...</p>
                                    <a href="event-single-left.html" class="btn">Eu Vou</a>
                                </div><!-- Event Meta -->
                            </div><!-- Event details -->
                        </div><!-- Column -->

                        <!-- Event Column -->
                        <div class="col-sm-6">
                            <!-- Event Wrapper -->
                            <div class="event-wrap">
                                <div class="event-img-wrap">
                                    <img alt="Event" class="img-responsive" src="images/events/event-02.jpg" width="600" height="220">
                                </div><!-- Event Image Wrapper -->
                                <!-- Event Detail Wrapper -->
                                <div class="event-details">
                                    <h4><a href="event-single-left.html">Celebração Bla Bla Bla</a></h4>
                                    <ul class="events-meta">
                                        <li><i class="fa fa-calendar-o"></i> Sexta Jul 10 2017</li>
                                        <li><i class="fa fa-map-marker"></i> Museu da Prefeitura de Itajaí</li>
                                    </ul>
                                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste...</p>
                                    <a href="event-single-left.html" class="btn">Eu Vou</a>
                                </div><!-- Event Meta -->
                            </div><!-- Event details -->
                        </div><!-- Column -->
                    </div><!-- Row -->

                    <!-- Divider -->
                    <hr class="lg hidden-767">

                    <!-- Event row  -->
                    <div class="row">
                        <!-- Event Column -->
                        <div class="col-sm-6">
                            <!-- Event Wrapper -->
                            <div class="event-wrap">
                                <div class="event-img-wrap">
                                    <img alt="Event" class="img-responsive" src="images/events/event-03.jpg" width="600" height="220">
                                </div><!-- Event Image Wrapper -->
                                <!-- Event Detail Wrapper -->
                                <div class="event-details">
                                    <h4><a href="event-single-left.html">Celebração Bla Bla Bla</a></h4>
                                    <ul class="events-meta">
                                        <li><i class="fa fa-calendar-o"></i> Sexta Jul 10 2017</li>
                                        <li><i class="fa fa-map-marker"></i> Museu da Prefeitura de Itajaí</li>
                                    </ul>
                                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste...</p>
                                    <a href="event-single-left.html" class="btn">Eu Vou</a>
                                </div><!-- Event Meta -->
                            </div><!-- Event details -->
                        </div><!-- Column -->

                        <!-- Event Column -->
                        <div class="col-sm-6">
                            <!-- Event Wrapper -->
                            <div class="event-wrap">
                                <div class="event-img-wrap">
                                    <img alt="Event" class="img-responsive" src="images/events/event-04.jpg" width="600" height="220">
                                </div><!-- Event Image Wrapper -->
                                <!-- Event Detail Wrapper -->
                                <div class="event-details">
                                    <h4><a href="event-single-left.html">Celebração Bla Bla Bla</a></h4>
                                    <ul class="events-meta">
                                        <li><i class="fa fa-calendar-o"></i> Sexta Jul 10 2017</li>
                                        <li><i class="fa fa-map-marker"></i> Museu da Prefeitura de Itajaí</li>
                                    </ul>
                                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste...</p>
                                    <a href="event-single-left.html" class="btn">Eu Vou</a>
                                </div><!-- Event Meta -->
                            </div><!-- Event details -->
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div><!-- Column -->
            </div><!-- Row -->
        </div><!-- Container -->
    </div><!-- Page Default -->
</div><!-- Page Main -->
