<!-- Page Main -->
<div role="main" class="main">


    <!-- Section -->
    <section class="bg-lgrey typo-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="tab-news">
                        <!-- Title -->
                        <div class="title-bg-line">
                            <h6 class="title"><a href="#">Livros Recomendados</a></h6>
                        </div>

                        <div class="row shop-sm-col">

                            <div class="col-sm-4" ng-repeat="bookRec in booksRecomendados track by $index" ng-if="bookRec.title">
                                <!-- Shop Grid Wrapper -->
                                <div class="shop-wrap">
                                    <!-- Shop Image Wrapper -->
                                    <div class="shop-img-wrap" ng-click="moreDetails(bookRec)">
                                        <img width="500" height="500" src="{{bookRec.image}}" class="img-responsive" alt="Shop" style="height: 300px; cursor: pointer;">
                                    </div><!-- Shop Wraper -->
                                    <!-- Shop Detail Wrapper -->
                                    <div class="product-details">
                                        <div class="shop-title-wrap">
                                            <h6 class="product-cat"><a href="javascript:void(0);" ng-click="moreDetails(bookRec)">{{bookRec.category}}</a>
                                                | <span ng-repeat="r in range(book.rank) track by $index">☆</span>
                                                | {{bookRec.votes}} Votos
                                            </h6>
                                            <h5 class="product-name"><a href="javascript:void(0);" ng-click="moreDetails(bookRec)">{{bookRec.title}}</a></h5>
                                        </div><!-- Shop Detail Wrapper -->
                                    </div><!-- Blog Detail Wrapper -->
                                </div><!-- Blog Wrapper -->
                            </div><!-- Column -->

                        </div><!-- Row -->
                    </div><!-- Tab news -->

                    <div class="ad margin-top-30"><a href="javascript:void(0);">
                        <img alt="ad" height="200" width="1200"class="img-responsive" src="images/banner/ad-03.jpg"></a>
                    </div>

                    <div class="tab-news margin-top-40">
                        <!-- Title -->
                        <div class="title-bg-line">
                            <h6 class="title"><a href="#">Ultimas Novidades</a></h6>
                        </div>

                        <div class="row shop-sm-col">
                            <!-- Item Begins -->
                            <div class="col-sm-4" ng-repeat="book in books track by $index">
                                <!-- Shop Grid Wrapper -->
                                <div class="shop-wrap" style="height: 520px;">
                                    <!-- Shop Image Wrapper -->
                                    <div class="shop-img-wrap" ng-click="moreDetails(book)">
                                        <img src="{{book.image}}" class="img-responsive" alt="Shop" style="cursor: pointer; width: 500px;height: 400px;">
                                    </div><!-- Shop Wraper -->
                                    <!-- Shop Detail Wrapper -->
                                    <div class="product-details">
                                        <div class="shop-title-wrap">
                                            <h6 class="product-cat"><a href="javascript:void(0);">{{book.category}}</a>
                                                | <span ng-repeat="r in range(book.rank) track by $index">☆</span>
                                                | {{book.votes}} Votos
                                            </h6>
                                            <h5 class="product-name"><a href="javascript:void(0);" ng-click="moreDetails(book)">{{book.title | limitTo: '50'}}</a></h5>
                                        </div><!-- Shop Detail Wrapper -->
                                    </div><!-- Blog Detail Wrapper -->
                                </div><!-- Blog Wrapper -->
                            </div><!-- Column -->

                        </div><!-- Row -->
                    </div><!-- Tab news -->


                </div><!-- Columnm -->


                <!-- Sidebar -->
                <div class="col-md-3">
                    <!-- aside -->
                    <aside class="sidebar">


                        <!-- Widget -->
                        <div class="widget no-box">
                            <!-- Title -->
                            <div class="title-bg-line">
                                <h6 class="title"><a href="#">Categorias</a></h6>
                            </div>
                            <ul class="thumbnail-widget">
                                <li>
                                    <div class="thumb-wrap">
                                        <img width="60" height="60" alt="Thumb" class="img-responsive"
                                             src="images/default/course-thumb-01.jpg">
                                    </div>
                                    <div class="thumb-content"><a ui-sref="detail">About
                                        Freelancing</a><span>March 10, 2016</span></div>
                                </li>
                                <li>
                                    <div class="thumb-wrap">
                                        <img width="60" height="60" alt="Thumb" class="img-responsive"
                                             src="images/default/course-thumb-02.jpg">
                                    </div>
                                    <div class="thumb-content"><a ui-sref="detail">Need a Help ?</a><span>March 10, 2016</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb-wrap">
                                        <img width="60" height="60" alt="Thumb" class="img-responsive"
                                             src="images/default/course-thumb-03.jpg">
                                    </div>
                                    <div class="thumb-content"><a ui-sref="detail">New ideas ?</a><span>March 10, 2016</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb-wrap">
                                        <img width="60" height="60" alt="Thumb" class="img-responsive"
                                             src="images/default/course-thumb-04.jpg">
                                    </div>
                                    <div class="thumb-content"><a ui-sref="detail">Computer
                                        Science</a><span>March 10, 2016</span></div>
                                </li>
                            </ul><!-- Thumbnail Widget -->
                        </div><!-- Widget -->

                        <!-- Widget -->
                        <div class="widget no-box margin-top-50">
                            <!-- Title -->
                            <div class="title-bg-line">
                                <h6 class="title"><a href="#">Propaganda</a></h6>
                            </div>
                            <div class="ad margin-top-30">
                                <a href="#"><img alt="ad" class="img-responsive" src="images/banner/ad-04.jpg"
                                                 height="533" width="270"></a>
                            </div>
                        </div><!-- Widget -->

                        <!-- Widget -->
                        <div class="widget no-box margin-top-50">
                            <!-- Title -->
                            <div class="title-bg-line">
                                <h6 class="title"><a href="#">Ultimos Livros</a></h6>
                            </div>
                            <div class="news-wrap">
                                <a href="#"><img width="417" height="320" alt="..." src="images/news/movie-01.jpg"
                                                 class="img-responsive"></a>
                                <!-- News Content -->
                                <div class="news-content">
                                    <span class="news-cat bg-pink">Drama</span><span
                                        class="news-cat bg-orange">Ação</span>
                                    <h6><a href="news-single.html">What Do I Need To Make It In Business?</a></h6>
                                </div><!-- News Content -->
                            </div>
                            <div class="news-wrap margin-top-30">
                                <a href="#"><img width="417" height="320" alt="..." src="images/news/movie-02.jpg"
                                                 class="img-responsive"></a>
                                <!-- News Content -->
                                <div class="news-content">
                                    <span class="news-cat bg-orange">Ação</span><span
                                        class="news-cat bg-green">Fantasia</span>
                                    <h6><a href="news-single.html">What Do I Need To Make It In Business?</a></h6>
                                </div><!-- News Content -->
                            </div>
                        </div><!-- Widget -->

                        <!-- Widget -->
                        <div class="widget no-box margin-top-50">
                            <!-- Title -->
                            <div class="title-bg-line">
                                <h6 class="title"><a href="#">Minha Conta</a></h6>
                            </div>
                            <!-- Widget -->
                            <ul class="go-widget">
                                <li><a ui-sref="cart">Carrinho de Compra</a></li>
                                <li><a href="#">Lista de Desejos</a></li>
                            </ul>
                        </div><!-- Widget -->


                    </aside><!-- aside -->
                </div><!-- Column -->
            </div><!-- row -->
        </div><!-- Container -->
    </section><!-- Section -->


</div><!-- Page Main -->