<!-- Page Header -->
<div class="page-header bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- Page Header Wrapper -->
                <div class="page-header-wrapper">
                    <!-- Title & Sub Title -->
                    <h3 class="title">Estante</h3>
                    <h6 class="sub-title">Nossa Estante</h6>
                    <ol class="breadcrumb">
                        <li><a href="templates/index.html">Inicio</a></li>
                        <li class="active">Shop</li>
                    </ol><!-- Breadcrumb -->
                </div><!-- Page Header Wrapper -->
            </div><!-- Coloumn -->
        </div><!-- Row -->
    </div><!-- Container -->
</div><!-- Page Header -->

<!-- Page Main -->
<div role="main" class="main">
    <div class="page-default bg-grey typo-dark shop-sm-col">
        <!-- Container -->
        <div class="container">
            <div class="row">
                <!-- Item Begins -->
                <div class="col-sm-6 col-md-3" ng-repeat="book in books">
                    <!-- Shop Grid Wrapper -->
                    <div class="shop-wrap">
                        <!-- Shop Image Wrapper -->
                        <div class="shop-img-wrap" ng-click="moreDetails(book)">
                            <img width="500" height="500" src="{{book.image}}" class="img-responsive" alt="Shop"  style="cursor: pointer; height: 300px;">
                        </div><!-- Shop Wraper -->
                        <!-- Shop Detail Wrapper -->
                        <div class="product-details">
                            <div class="shop-title-wrap">
                                <h6 class="product-cat"><a href="javascript:void(0);">{{book.category}}</a></h6>
                                <h5 class="product-name"><a href="javascript:void(0);" ng-click="moreDetails(book)">{{book.title | limitTo: '60'}}</a></h5>
                            </div><!-- Shop Detail Wrapper -->
                        </div><!-- Blog Detail Wrapper -->
                    </div><!-- Blog Wrapper -->
                </div><!-- Column -->

            </div><!-- Row -->

        </div><!-- Container -->
    </div><!-- Page Default -->
</div><!-- Page Main -->